<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Coronavirus Tracker application</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

</head>

<body>
<div class="container">
<h1>Coronavirus Tracker</h1>
<p> Esta aplicação lista os números atuais de casos reportados da covid-19 no mundo.</p>

<div class="jumbotron">
    <h1 class="display-4" th:text="${totalReportedCases}"></h1>
    <p class="lead">Total de casos reportados até hoje</p>
    <hr class="my-4">
    <p>
        <span>Novos casos reportados desde o último dia</span>
        <span th:text="${totalNewCases}"</span>
    </p>
</div>

    <table class="table">
        <tr>
            <th>Estado</th>
            <th>País</th>
            <th>Total de casos reportados</th>
            <th>Casos novos hoje</th>
        </tr>
        <tr th:each="locationStat : ${locationStats}">
            <td th:text="${locationStat.state}"></td>
            <td th:text="${locationStat.country}"></td>
            <td th:text="${locationStat.latestTotalCases}">0</td>
            <td th:text="${locationStat.diffFromPrevDay}">0</td>
        </tr>
    </table>
</div>

</body>

</html>